<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umairjabbar.here4deals">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Auth.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ItemDetailActivity" />
        <activity android:name=".SubCatagory_List_activity" />
        <activity android:name=".Listing_Items" />
        <activity android:name=".Login" />
        <activity android:name=".Signup" />
        <activity android:name=".DrawerMenuClasses.About" />
        <activity android:name=".DrawerMenuClasses.Help" />
        <activity android:name=".DrawerMenuClasses.Selling" />
        <activity android:name=".DrawerMenuClasses.Wishlist" />
        <activity android:name=".DrawerMenuClasses.Messages" />
        <activity android:name=".DrawerMenuClasses.Buy" />
        <activity android:name=".DrawerMenuClasses.Cart" />
        <activity android:name=".DrawerMenuClasses.Classified" />
        <activity android:name=".DrawerMenuClasses.Terms" />
        <activity android:name=".DrawerMenuClasses.Privacy" />
        <activity android:name=".ConfirmBid" />
        <activity android:name=".DrawerMenuClasses.LoginView" />
        <activity android:name=".DrawerMenuClasses.SignupView" />
        <activity android:name=".Search" />
        <activity android:name=".DrawerMenuClasses.Following" />
        <activity android:name=".DrawerMenuClasses.Stores" />
        <activity android:name=".DrawerMenuClasses.LogoutView"></activity>
    </application>

</manifest>